

#user-inputs{
   border-radius: 25px;
   border: 2px solid #73AD21;
   padding: 20px;
}

#calendar{
   display:none;
}

#calendar table{
   text-align: center;
}

#calendar .cell{
   padding:5px;
}

#calendar .weekend-day{
   background-color:yellow;
}

#calendar .day{
   background-color:#8bc34ac2;
}

#calendar .empty-cell{
   background-color:#808080a1;
   min-width: 30px;

}
#calendar  table, th, td {
   border: 2px solid white;
}

#calendar .month-title{
       background-color: #d3e675
}