#calendar{
   display:none;
}

#calendar .cell{
   padding:5px;
}

#calendar .weekend-day{
   background-color:yellow;
}

#calendar .day{
   background-color:#8bc34ac2;
}

#calendar .empty-cell{
   background-color:#808080a1;
}